*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#090909;
    color:white;
}

/* ================= NAVBAR ================= */

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 60px;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(12px);
    z-index:999;
}

.logo{
    font-family:'Cinzel',serif;
    font-size:28px;
    color:#FFD86B;
    font-weight:700;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#FFD86B;
}

/* ================= HERO ================= */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
    url("https://images.unsplash.com/photo-1518709268805-4e9042af2176?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:700px;
}

.hero h2{
    color:#FFD86B;
    font-size:22px;
    margin-bottom:10px;
}

.hero h1{
    font-family:'Cinzel',serif;
    font-size:80px;
    color:#FFD86B;
    text-shadow:0 0 20px gold;
}

.hero h3{
    margin-top:15px;
    letter-spacing:4px;
}

.hero p{
    margin:25px 0;
    line-height:1.8;
    color:#ddd;
}

.btn{
    display:inline-block;
    padding:15px 40px;
    background:#FFD86B;
    color:black;
    text-decoration:none;
    border-radius:50px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px gold;
}
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:40px;
}

.gallery img{
width:100%;
border-radius:15px;
transition:.3s;
box-shadow:0 0 20px rgba(255,215,0,.3);
cursor:pointer;
}

.gallery img:hover{
transform:scale(1.05);
box-shadow:0 0 30px gold;
}
